{% extends "templates/base.html" %}

{% block title %}Hotels by Location{% endblock %}

{% block content %}
<form action="city" method="get">
  <label for="location">Enter City:</label>
  <input type="text" maxlength="15" id="location" name="location" placeholder="Enter city name" required>
  <button type="submit">Search</button>
</form>
<h2>Hotels in {{ location }}</h2>
{% if hotels %}
    <ul>
        {% for hotel in hotels %}
            <li>{{ hotel.name }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ detail }}</p>
{% endif %}

{% endblock %}
